/* ::::: http://www.vipcake99.com/css/main.css ::::: */

body, div, p, input, a, textarea, ul, li, h1, h2, h3, h4, h5, h6, dl, dt, dd, span, form { margin: 0px; padding: 0px; }
body, input { font: 12px Microsoft Yahei,Verdana,宋体,sans-serif; }
ul li { list-style: outside none none; }
a { color: rgb(96, 55, 35); text-decoration: none; }
a:hover { color: rgb(243, 172, 32); text-decoration: none; }
.clearfix { clear: both; }
.top { height: 97px; width: 100%; background-image: url('topbg.png'); background-repeat: repeat-x; background-position: left bottom; padding-bottom: 7px; position: fixed; left: 0px; top: 0px; z-index: 1000; }
.menu { height: 100px; width: 1100px; margin: auto; }
.logo { width: 170px; float: left; }
.nav { height: 51px; width: 550px; float: left; }
.selcity { height: 30px; padding-top: 16px; padding-left: 20px; }
.myacct { position: relative; width: 55px; }
.myacct span { background-image: url('cbg.gif'); position: relative; width: 45px; height: 20px; cursor: pointer; display: inline-block; color: rgb(255, 255, 255); padding-left: 10px; line-height: 20px; }
#user_xiala { display: none; position: absolute; line-height: 24px; left: -5px; top: 20px; width: 168px; z-index: 2000; padding: 10px 15px; background-image: url('clistbg.png'); background-repeat: no-repeat; height: 48px; }
#user_xiala a { display: inline-block; padding: 0px 5px; }
#user_xiala a:hover { display: inline-block; background-color: rgb(96, 55, 35); color: rgb(255, 255, 255); text-decoration: none; }
.nav_1 { margin: 0px auto; width: 630px; height: 40px; }
.nav_1 LI { position: relative; float: left; height: 40px; z-index: 1000; }
.nav_1 LI A { text-align: center; line-height: 22px; width: 110px; display: inline-block; height: 50px; color: rgb(96, 55, 35); font-size: 14px; }
.nav_1 LI A SPAN { line-height: 18px; display: block; font-size: 14px; cursor: pointer; }
.nav_1 LI A:hover { color: rgb(207, 177, 81); text-decoration: none; border-bottom: 2px solid rgb(243, 172, 32); }
.nav_1 LI.n { width: 20px; height: 35px; background-image: url('i2.gif'); background-repeat: repeat-y; background-position: center center; }
.nav_1 LI .aa { border-bottom: 2px solid rgb(243, 172, 32); color: rgb(207, 177, 81); }
.nav_1 LI .nav_3 { position: absolute; width: 100px; display: none; top: 52px; left: 0px; z-index: 1000; background: rgb(253, 253, 253) none repeat scroll 0% 0%; padding: 0px 5px; }
.nav_1 LI .nav_3 LI { height: 30px; width: 100px; border-bottom: 1px solid rgb(230, 225, 219); }
.nav_1 LI .nav_3 LI.bdnone { border-bottom: medium none; }
.nav_1 LI .nav_3 LI A { width: 100px; line-height: 30px; display: inline-block; height: 30px; color: rgb(188, 157, 113); font-size: 12px; border: medium none; }
.nav_1 LI .nav_3 LI A:hover { color: rgb(51, 51, 51); }
.topr { width: 300px; float: right; text-align: right; padding-top: 16px; }
.topr img { margin: 10px 0px; }
.topico { color: rgb(96, 55, 35); background-image: url('tico.gif'); background-repeat: no-repeat; background-position: left center; padding-left: 25px; }
.mycart { background-image: url('cico.gif'); background-repeat: no-repeat; background-position: left center; display: inline-block; padding: 0px 0px 0px 25px; }
.bannerbg { border-bottom: 1px solid rgb(230, 225, 219); margin-top: 100px; }
.hboxbg { padding-top: 20px; }
.hplist { width: 1122px; height: 500px; margin: auto; clear: both; }
.hplist li { float: left; width: 374px; height: 250px; }
.hplist img { width: 374px; height: 250px; }
.hmainbb { width: 1100px; margin: 20px auto auto; }
.hlistbd { width: 354px; margin-right: 16px; border: 1px solid rgb(96, 55, 33); float: left; height: 188px; }
.hlistpbd { width: 354px; border: 1px solid rgb(96, 55, 33); float: left; height: 188px; }
.hlistt { font-size: 14px; color: rgb(255, 255, 255); background-color: rgb(96, 55, 33); height: 25px; line-height: 25px; padding: 0px 10px; }
.hlistt span { float: left; }
.hlistt a { float: right; font-size: 12px; color: rgb(255, 255, 255); }
.hlistpad { padding: 10px; width: 336px; }
.hlistpad dl { height: 66px; width: 336px; }
.hlistpad dl.ff { background-image: url('line.gif'); background-position: left bottom; background-repeat: repeat-x; padding-bottom: 8px; margin-bottom: 5px; }
.hlistpad dl dt { width: 64px; float: left; }
.hlistpad dl dt img { width: 62px; height: 62px; border: 1px solid rgb(238, 172, 32); }
.hlistpad dl dd { float: right; line-height: 22px; color: rgb(102, 102, 102); width: 260px; }
.addpanel_overlay { z-index: 1100; position: fixed; width: 100%; bottom: 0px; display: none; background: rgb(0, 0, 0) none repeat scroll 0% 0%; height: 100%; top: 0px; right: 0px; left: 0px; opacity: 0.56; }
.addpanel_dialog { z-index: 1200; position: fixed; margin-top: -107px; width: 555px; background: rgb(73, 25, 3) url('yj_.gif') no-repeat scroll 50% bottom; margin-left: -277px; top: 50%; left: 50%; padding-bottom: 10px; }
.addpanel_bg { background: transparent url('winbg.png') repeat scroll 0% 0%; padding-top: 10px; }
.addpanel_inlay { margin: 0px 10px; width: 515px; display: inline; float: left; padding: 10px; border: 1px solid rgb(204, 168, 132); background-color: rgb(255, 255, 255); }
.addpanel_inbg { background: transparent none repeat scroll 0% 0%; }
.city_overlay { z-index: 1100; position: fixed; width: 100%; bottom: 0px; display: none; background: rgb(0, 0, 0) none repeat scroll 0% 0%; height: 100%; top: 0px; right: 0px; left: 0px; opacity: 0.56; }
.city_dialog { z-index: 1200; position: fixed; margin-top: -107px; width: 260px; margin-left: -177px; top: 50%; left: 50%; padding: 10px; background-color: rgb(128, 87, 43); }
.city_inlay { width: 238px; padding: 120px 10px 10px; border: 1px solid rgb(204, 168, 132); background-image: url('wbg.gif'); background-repeat: no-repeat; background-position: center 10px; }
.city_inlay a { padding: 5px 0px; margin: 0px 10px; display: inline-block; background-color: rgb(255, 255, 255); text-align: center; width: 96px; }
.city_inlay a:hover { background: rgb(176, 145, 106) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
.footbg { height: 200px; background-image: url('fbg.gif'); background-position: left top; background-repeat: repeat-x; background-color: rgb(242, 242, 242); padding: 20px 0px; margin-top: 20px; }
.foot { width: 1000px; margin: auto; }
.fnav { float: left; width: 545px; height: 195px; background-image: url('flbg.gif'); background-repeat: repeat-y; background-position: right top; }
.fnav dl { float: left; width: 109px; }
.fnav dt { height: 30px; background-image: url('ftbg.gif'); background-repeat: no-repeat; padding-top: 37px; line-height: 30px; }
.fnav dt.ico1 { background-position: 0px 0px; }
.fnav dt.ico2 { background-position: -109px 0px; }
.fnav dt.ico3 { background-position: -219px 0px; }
.fnav dt.ico4 { background-position: -336px 0px; }
.fnav dt.ico5 { background-position: -450px 0px; }
.fnav dt a { font-size: 13px; color: rgb(204, 102, 0); }
.fnav dt a:hover { text-decoration: underline; }
.fnav dd { line-height: 25px; height: 25px; }
.fnav dd a { text-decoration: none; }
.fnav dd a:hover { text-decoration: underline; }
.wx { width: 220px; float: left; height: 195px; line-height: 30px; }
.wx * { vertical-align: middle; }
.wx div { padding: 10px 20px; text-align: center; }
.wxico { background-image: url('wxico.gif'); background-repeat: no-repeat; background-position: left center; height: 25px; line-height: 25px; display: inline-block; margin-top: 8px; padding-left: 30px; }
.wbico { background-image: url('wbico.gif'); background-repeat: no-repeat; background-position: left center; height: 25px; line-height: 25px; display: inline-block; margin-top: 8px; padding-left: 30px; }
.flx { width: 220px; float: left; height: 195px; line-height: 30px; }
.flx * { vertical-align: middle; }
.flx div { padding: 10px 20px; text-align: center; }
.copyright { height: 40px; line-height: 40px; width: 1000px; margin: auto; }
.side { position: fixed; width: 54px; height: 275px; right: 0px; top: 214px; z-index: 100; }
.side ul li { width: 54px; height: 54px; float: left; position: relative; border-bottom: 1px solid rgb(68, 68, 68); }
.side ul li .sidebox { position: absolute; width: 54px; height: 54px; top: 0px; right: 0px; transition: all 0.3s ease 0s; background: rgb(67, 39, 25) none repeat scroll 0% 0%; opacity: 0.8; color: rgb(255, 255, 255); font: 14px/54px "微软雅黑"; overflow: hidden; }
.side ul li .sidetop { width: 54px; height: 54px; line-height: 54px; display: inline-block; background: rgb(67, 39, 25) none repeat scroll 0% 0%; opacity: 0.8; transition: all 0.3s ease 0s; }
.side ul li .sidetop:hover { background: rgb(139, 120, 96) none repeat scroll 0% 0%; opacity: 1; }
.side ul li img { float: left; border: 0px none; }
/* ::::: http://www.vipcake99.com/css/simplefoucs.css ::::: */

.bannerbox { width: 100%; margin: auto; }
.scrollpic { width: 100%; height: 520px; clear: both; position: relative; float: left; overflow: hidden; }
.scrollpic ul { width: 100%; float: left; position: absolute; clear: both; padding: 0px; margin: 0px; overflow: hidden; }
.scrollpic ul li { float: left; overflow: hidden; position: relative; padding: 0px; text-align: center; }
.scrollpic .preNext { width: 150px; height: 420px; position: absolute; top: 0px; cursor: pointer; }
.scrollpic .pre { left: 5%; background: transparent url('lbtn.gif') no-repeat scroll left center; }
.scrollpic .next { right: 5%; background: transparent url('rbtn.gif') no-repeat scroll right center; }
#CSSBox { margin: 0px auto; width: 1100px; float: left; height: 150px; overflow: hidden; }
#CSSBox ul, li { margin: 0px; padding: 0px; }
#CSSBox UL LI { list-style-type: none; float: left; width: 275px; height: 275px; overflow: hidden; position: relative; }
#CSSBox UL LI img { width: 275px; height: 275px; }
#LeftButton { width: 50px; background: transparent url('lbtn.gif') no-repeat scroll center center; float: left; height: 275px; cursor: pointer; }
#RightButton { width: 50px; background: transparent url('rbtn.gif') no-repeat scroll center center; float: right; height: 275px; cursor: pointer; }
#ppwrapper { width: 1200px; height: 275px; margin: 20px auto auto; }
.hcase_box_li_img { width: 275px; height: 275px; overflow: hidden; }
#CSSBox .text { position: absolute; bottom: -40px; left: 0px; width: 275px; text-align: center; z-index: 10; }
#CSSBox .text { line-height: 25px; text-align: center; color: rgb(255, 255, 255); font-size: 16px; }
.rsp { width: 275px; height: 275px; overflow: hidden; position: absolute; background: rgb(211, 195, 180) none repeat scroll 0% 0%; top: 0px; left: 0px; cursor: pointer; }
.icon_fd { width: 275px; height: 61px; position: absolute; top: -110px; left: 0px; overflow: hidden; cursor: pointer; text-align: center; padding-top: 70px; background-image: url('icon_fd.png'); background-repeat: no-repeat; background-position: center top; z-index: 10; }
.icon_fd { color: rgb(255, 255, 255); font-size: 22px; }
#CSSBox UL LI a {  }
#TabID { position: absolute; bottom: 10px; right: 20px; }
#TabID li { float: left; width: 12px; height: 12px; list-style: outside none none; text-align: center; cursor: pointer; margin: 0px 2px; background-image: url('none.png'); background-repeat: no-repeat; background-position: 0px 0px; line-height: 20px; display: block; font-family: Verdana,Arial,Helvetica,sans-serif; }
#TabID li:hover, #TabID li.active { color: rgb(255, 255, 255); background-image: url('block.png'); background-repeat: no-repeat; background-position: right 0px; }
